[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "langchain[google-genai]>=1.1.0",
    "langgraph>=1.0.4",
    "load-dotenv>=0.1.0",
    "pandas>=2.3.3",
]
